<launch>

  <arg name="simulated_robot" default="0"/>
  <arg name="acquire_base" default="0"/>

  <node name="ego_model" pkg="ego_model" type="ego_model" output="screen" >
    <param name="simulated_robot" value="$(arg simulated_robot)"/>
    <param name="acquire_base" value="$(arg acquire_base)"/>
  </node> 

</launch>